# Build / artefatos (recursivo)
**/build/
**/build_vs2022/
**/out/
**/bin/
**/obj/
**/Debug/
**/Release/
**/x64/
**/x86/
*.obj
*.pdb
*.ilk
*.idb
*.pch
*.exp
*.lib
*.dll
*.exe
*.log

# VS / VSCode
**/.vs/
**/.vscode/ipch/
**/.vscode/.cmake/

# CMake temporarios
**/CMakeFiles/
**/*.dir/
**/CMakeCache.txt
**/cmake_install.cmake
**/install_manifest.txt
**/Makefile

# SO
Thumbs.db
.DS_Store
desktop.ini

# Python cache
**/__pycache__/
*.pyc
**/build_py/work/
**/build_py/novo_tribometro/novo_tribometro/
